

@page "/AboutMe"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AboutMeModel
@{
    ViewData["Title"] = "Chirp! - About Me";
    Layout = "Shared/_Layout";
}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css" />
    
<img src=@Model.ProfilePictureUrl alt="Avatar" class="avatar" width = "145" >
<h2> About me </h2>

<h5>Username:</h5>
<form method="post">
    <div class="d-flex">
        <textarea onfocus=show('username')  class="aboutme" id="username" rows="1" maxlength="20" name="newName" placeholder="@Model.DisplayName"></textarea>
        <button id="changeusername" hidden class="changer" asp-page-handler="ChangeName"> Change</button>
    </div>
    <h5 class="mt-4">Email:</h5>
    <div class="d-flex">
        <textarea onfocus=show('email') class="aboutme" id="email" rows="1" maxlength="20" name="newEmail" placeholder="@Model.Email"></textarea>
        <button id="changeemail" hidden class="changer" asp-page-handler="changeemail"> Change</button>
    </div>
</form>
<br/>

<script>
    let show = (objectID) => {
        let buttonid = "change" + objectID
        document.getElementById(buttonid).removeAttribute("hidden");
        const eventHandler = (e) => hideOnClickOutside(e, buttonid, eventHandler, objectID)
        document.addEventListener("click", eventHandler)
    };

    let hideOnClickOutside = (event, elementToHide, eventHandler, ...exceptIDs) => {
        let exceptObjects = exceptIDs.map((id) => document.getElementById(id))
        if (!exceptObjects.includes(event.target)) {
            document.getElementById(elementToHide).setAttribute("hidden", "hidden")
            document.removeEventListener('click', eventHandler);
        };
    }
</script>

<h4>Your Followers</h4>
@{
    if (Model.Followers.Any()){
    <ul id="followerlist" class="followers">
        @foreach (var follower in Model.Followers)
        {
            <li>
                <p>
                    <img src=@follower.ProfilePictureUrl width="30" alt="Avatar" class="avatar">
                    <strong>
                        <a href="/@follower.Name">@follower.Name</a>
                    </strong>
                </p>
            </li>
        }
    </ul>
    }
    else
    {
        <header>You have no followers</header>
        <br />
    }
}

<form method="post">
    <button asp-page-handler="DeleteAccount" name=authorName value=@User.Identity?.Name class="delete" > Delete your account</button>
</form>