@page "/FollowingTimeline"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FollowingTimelineModel
@{
    ViewData["Title"] = "Chirp! - Following Timeline";
    Layout = "Shared/_StandardLayout";
}

<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h2> Following Timeline </h2>

        if (Model.GetCheeps().Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.GetCheeps())
                {
                    <li>
                        @{
                            ViewData["Cheep"] = cheep;
                        }
                        <partial name="CheepBox" view-data="ViewData"/>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>You are not following anybody!.</em>
        }
        <br/>
        
        <partial name="Pagination" model="@Model.GetPagination()"/>
    }
</div>
