@page "/FollowingTimeline"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FollowingTimelineModel
@{
    ViewData["Title"] = "Chirp! - Following Timeline";
    Layout = "Shared/_Layout";
}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="css/style.css" />
<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h2> Following Timeline </h2>

        if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>You are not following anybody!.</em>
        }
        
        {
                await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
        }
    }
</div>
    
