@page "/FollowView/{author}/{followType}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FollowViewModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var author = HttpContext.GetRouteValue("author")!.ToString();
    var followType = HttpContext.GetRouteValue("followType")!.ToString();
}

<!-- Add icon library -->
@if(Model.IsDarkMode)
{
    <link rel="stylesheet" href="css/darkmode.css" />
}
else
{
    <link rel="stylesheet" href="css/style.css" />
}

@if (Model.FontSizeScale == 1.5)
{
    <link rel="stylesheet"  href="css/fontSize1_5x.css" />
}
else if (Model.FontSizeScale == 2)
{
    <link rel="stylesheet"  href="css/fontSize2x.css" />
}
else
{
    <link rel="stylesheet"  href="css/fontSize1x.css" />
}

<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        if (followType == "following")
        {
            if (Model.FollowingList.Any())
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (var user in Model.FollowingList)
                    {
                        <li>
                            <p>
                                <strong>
                                    <a href="/@user.Name">@user.Name</a>
                                </strong>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <em>You are not following anybody!</em>
            }
        }
        else
        {
            if (Model.FollowersList.Any())
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (var user in Model.FollowersList)
                    {
                        <li>
                            <p>
                                <strong>
                                    <a href="/@user.Name">@user.Name</a>
                                </strong>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <em>No followers here :(</em>
            }
        }
        <br/>
        {
                await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
        }
    }
</div>
    
