@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="css/style.css" />
<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h2> Write a cheep! </h2>
        <form method="post" asp-page-handler="cheep" class="cheep">
            <textarea id="cheepbox" class="cheepbox" rows="4" maxlength="160" name="message" oninput="countChars()"  placeholder= "What's on your heart, @(User.Identity.Name)?"></textarea>
            <div class="char-count" id="charCount">0/160 characters</div>
            <button class="share"><i class="fa fa-send"></i> Cheep!</button>
        </form>
        
        <script>
            function countChars() {
                  var textEntered = document.getElementById('cheepbox').value;
                  var textLength = textEntered.length;
            
                  if (textLength <= 160) {
                    document.getElementById('charCount').innerHTML = textLength + '/160 characters';
                  } else {
                    
                    document.getElementById('cheepbox').value = textEntered.substring(0, 160);
                    document.getElementById('charCount').innerHTML = '160/160 characters';
                  }
            }
      </script>

        <!-- Line breaks -->
        <br />
        <br />
    }

    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                        <br>
                        @{
                            await Html.RenderPartialAsync("Shared/CheepBox", new CheepBoxModel(cheep));
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    @{
        await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
    }
</div>
