body {
  background: #eccaca;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

.nullInput{
    border: 1px solid red;
}

a {
  color: #26776F;
  text-decoration: none;
  cursor: pointer;  
}

a:hover {
  color: #333;
}

input[type="text"],
input[type="password"] {
  background: white;
  border: 1px solid #e6c0bf;
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #571010;
}

input[type="submit"] {
  background: #571010;
  border: 1px solid #3b0707;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

div.page {
  background: white;
  border: 1px solid #cc6e6e;
  width: 900px;
  margin: 30px auto;
  box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.2);
}

div.page h1 {
  background: #cc6e6e;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #772424;
  font-weight: normal;
  font-size: 80px;
}

div.page h1 img {
  height: 1em; 
}

div.page div.navigation {
  background: #eee;
  font-size: 12px;
  letter-spacing: .5px;
  text-align: right;  
  padding: 5px 10px;  
}

div.page div.navigation a {
  color: #888;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10rem;
}

div.page div.navigation a:hover{
   color: #fff; 
}

 div.page div.navigation a.active{
     text-decoration: underline;
     text-underline-offset: 5px;
     color: #fff;
 }

div.page h2 {
  margin: 0 0 15px;
  color: #571010;
  text-shadow: 0 1px 2px #ccc;
}
div.page  h4{
    font-size: 1.4em;
    margin: 0 0 15px;
    color: #850000;
    text-shadow: 0 1px 2px #ccc;
}

div.page h5 {
  font-size: 1.1em;
  color: #a71e1e;
  text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

div.page div.followstatus {
  border: 1px solid #ccc;
  background: #E3EBEA;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps li {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
}

div.page ul.cheeps p {
  margin: 0;
}

div.page ul.cheeps li img {
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
  font-size: 0.9em;
  color: #888;
}

div.page div.cheepbox {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #e29494;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1em;
  color: #7e2c2c;
}

div.page div.cheepbox p {
  margin: 0;
}

div.page div.cheepbox input[type="text"] {
  width: 585px;
}

div.page div.cheepbox input[type="submit"] {
  width: 70px;
  margin-left: 5px;
}

div.message {
  list-style: none;
  margin: 10px 10px 0;

  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

ul.message li {
  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.topics {
  width: 180px;
  height: 250px;
  background: #ffffff;
  border: 1px solid #e29494;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 20px;
}

textarea.cheepbox{
    width: 99%;
    height: 5rem;
    resize: none;
    border-radius: 5px;
}

textarea.aboutme{
    width: 11em;
    height: 1.79em;
    outline: none;
    border: 0;
    resize: none;
    
}



button.changer{

  margin-right: 2em;
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


div.cheep button.share{
    align-items: end;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

div.cheep button.share:hover{
    background: #DD6F6F;
    color: white;
}

textarea{
    resize: none;
    border: 1px solid #000000;
}

.char-count {
    font-size: 12px;
    color: rgb(128, 128, 128);
    float: right;
    margin-right: 0.7rem;
}

.nav-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline;
}


.dropbtn {
    visibility: hidden;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_img{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.dropdown_img:hover{
    background-color: #DD6F6F;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Apply a default style to the container */
.profilePicture-container {
    margin-left: -1rem;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 7vw;
    height: 7vw;
    transition: filter 0.5s; /* Add a smooth transition effect */
}

.profilePicture-container-others{
    margin-left: -1rem;
    position: relative;
    display: inline-block;
}

/* Apply the blur effect on hover */
.profilePicture-container:hover img {
    filter: blur(3px); /* Adjust the blur amount as needed */
}

/* Style for the "change" text */
.change-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Adjust font size as needed */
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s; /* Add a smooth transition effect */
}

/* Show the text on hover */
.profilePicture-container:hover .change-text {
    opacity: 1;
}

/* Style for the button */
.profilePicturebtn {
    visibility: hidden;
    width: 0;
    height: 0;
    cursor: pointer;
}

.profilePicture_img{
    object-fit: cover;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

.profilePicture_img_nav {
    object-fit: cover;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}
    .img_follow_ul {
        display: block;
    }

    .img_follow_ul li {
        display: inline-block;
        margin-right: 1rem;
    }

    .dropbtn {
        display: none;
        cursor: pointer;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.settings_li{
    display: inline-block;
    margin-right: 1.5rem;
}

.aboutme_lined_header{
    width: 100%; 
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center
}

.aboutme_header_txt{
    font-size: 20px; 
    background-color: #fff; 
    padding: 0 10px;
}

