@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web

@inject IOptionsMonitor<MicrosoftIdentityOptions> AzureAdb2COptions

@{
    var options = AzureAdb2COptions.Get(OpenIdConnectDefaults.AuthenticationScheme);
}

<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        @if (!string.IsNullOrEmpty(options.EditProfilePolicyId))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">@User.Identity?.Name!</a>
            </li>
        }
        else
        {
            <a class="navbar-text text-dark" onclick="redirect()">@User.Identity?.Name's page</a>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>

<script>
    function redirect() {
        window.location.href = "/@User.Identity?.Name";
    }
</script>
    