@model Chirp.Web.Pages.Shared.PaginationModel
@{
    <ul id="pagination_ul">
        @if (Model.CurrentPage == 1)
        {
            <li><p>Previous</p></li>
        }
        else
        {
            <li><a href="?page=@(Model.CurrentPage - 1)">Previous</a></li>
        }
        <li>
            <p>|</p></li>
        @for (var i = 1; i <= Model.NPages; i++)
        {
            @if (i == Model.CurrentPage)
            {
                <li>
                    <p>@i</p></li>
            }
            else
            {
                <li><a href="?page=@i">@i</a></li>
            }
            <li>
                <p>|</p></li>
        }

        @if (Model.CurrentPage == Model.NPages)
        {
            <li>
                <p>Next</p></li>
        }
        else
        {
            <li><a href="?page=@(Model.CurrentPage + 1)">Next</a></li>
        }
    </ul>
}